In [23]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import json

In [2]:
df=pd.read_csv('2010_2021_HS2_export.csv')

In [25]:
def to_json(filename,file):
    with open(filename,'w') as jfile:
        json.dump(file,jfile,indent=4)
    return

# Generating Country and Year Level Data

In [14]:
cvals={}

In [15]:
comms=set(df['Commodity'])

In [30]:
for comm in comms:
    
    cdf=df[df['Commodity']==comm]
    cdf=cdf.fillna(0)
    cvals[comm]=int(sum(cdf['value']))

In [36]:
ncvals={}

for key in cvals.keys():
    ncvals[key.split(' ')[0]]=cvals[key]

In [38]:
set(df['year'])

{2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021}

In [39]:
years=set(df['year'])

ydict={}

for year in years:
    cdf=df[df['year']==year]
    cdf=cdf.fillna(0)
    
    ydict[year]=sum(cdf['value'])

In [40]:
ydict

{2016: 275835.2699999999,
 2017: 303507.8500000001,
 2018: 330058.6400000003,
 2019: 313341.1400000011,
 2020: 291789.460000001,
 2021: 421984.3700000034,
 2010: 249801.17999999932,
 2011: 305948.28000000224,
 2012: 300384.3200000004,
 2013: 314388.6100000009,
 2014: 310321.020000002,
 2015: 262274.30000000016}

In [4]:
to_json('stata.json',ncvals)
to_json('statb.json',ydict)

# Generating Year Level Data by Country

In [12]:
master_dict={}

In [6]:
df.head()

,HSCode,Commodity,value,country,year
0,2,MEAT AND EDIBLE MEAT OFFAL.,1.40,AFGHANISTAN,2010
1,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",0.08,AFGHANISTAN,2010
2,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,3.89,AFGHANISTAN,2010
3,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",NaN,AFGHANISTAN,2010
4,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,NaN,AFGHANISTAN,2010

In [7]:
countries=set(df['country'])

In [9]:
years=set(df['year'])

In [10]:
df=df.fillna(0)

In [13]:
for country in countries:
    cdict={}
    cdf=df[df['country']==country]
    for year in years:
        cydf=cdf[cdf['year']==year]
        cdict[year]=sum(cydf['value'])
    
    master_dict[country]=cdict

In [26]:
to_json('statc.json',master_dict)

# Commodity by Year

In [33]:
mdict={}

In [28]:
commodities=set(df['Commodity'])

In [35]:
for commodity in commodities:
    cdict={}
    cdf=df[df['Commodity']==commodity]
    
    for year in years:
        cdict[year]=sum(cdf[cdf['year']==year]['value'])
    mdict[commodity.split(' ')[0]]=cdict

In [37]:
to_json('statd.json',mdict)